name: ios17_soft_reset
description: Reproduce ios17 soft-reset issue
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  realm: ^1.5.0
  path_provider: any
  cancellation_token: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

# â¯ git bisect bad
# 1a17ba0e5e8d7ba07e7b612c89bb61545327d9be is the first bad commit